@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-bg-color: #eae0cc;
  --complemnt-color: #c9ada1;
  --sage: #798478;
  --grey: #a0a083;
}
header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  margin: 4rem;
}

h1 {
  font-size: 9rem;
}

p {
  font-size: 0.8rem;
}
